*{
  text-align: center;
  font-size: 30px;
}

.tic-tac {
    width: 80px;
    height: 80px;
    background-color: lightgrey;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25pt;
    padding-top: 20px;
    border: 5px solid white;
}
.center {
    width:250px;
    margin:0 auto;
}

img {
  height: 50px;
  width: 50px;
}
